.nav_logo {
    width: 100px;
}

.abcd {
    height: 70vh !important;
}



.sticky {
    /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px; */
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    border-radius: 2px;
    ;
}

.navv_img {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    background: url(../nav_img/header_bg.png) repeat #FFFFFF;
    display: block;
    z-index: 999999;

}

.navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 0px !important;
    font-size: 0px !important;
    text-decoration: none;
    white-space: nowrap;
}

.slider_section {
    margin-top: 104px;
}

.img_size{
    height: 350px;
    opacity: 0.5;
}

.slider_box{
    display: none;
    height: 100px; width: 100px; border: 1px solid black;
}
/* .slider_box:hover + .slider_box{
    display: block;
} */

.text{
    display: block;
}

.text:hover + .slider_box {
    display: block !important;
}

.activity-img{
    height: 100px;
}
.box-height{
    height: 85%;
}

/* .slider_height{
    height: 20px;
} */





@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

/* section {
    padding: 60px 0;
} */

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.first-card{
   background-color:#5DA9FF;
}

.second-card{
    background-color:#FF7088;
}

.third-card{
    background-color:#00DDFF;
}

.fourth-card{
    background-color:#beef00;
}

.back-card-first{
    background-color: #8bf0ba;
}

.back-card-second{
    background-color: #f9f8fd;
}

.back-card-third{
    background-color: #CAE4DB;
}

.back-card-fourth{
    background-color: #b11a21 ;
}

.bg-grey{
    background: #F1F7FF;
}


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
body {
   font-family: "Open Sans", sans-serif;
}
*:hover {
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
}
/* section {
   float: left;
   width: 100%;
   background: #fff; 
   padding: 30px 0;
} */
h1 {
   float: left;
   width: 100%;
   color: #232323;
   margin-bottom: 30px;
   font-size: 14px;
}
h1 span {
   font-family: "Libre Baskerville", serif;
   display: block;
   font-size: 45px;
   text-transform: none;
   margin-bottom: 20px;
   margin-top: 30px;
   font-weight: 700;
}
h1 a {
   color: #131313;
   font-weight: bold;
}

/*Profile Card 1*/
.profile-card-1 {
   font-family: "Open Sans", Arial, sans-serif;
   position: relative;
   float: left;
   overflow: hidden;
   width: 100%;
   color: #ffffff;
   text-align: center;
   height: 368px;
   border: none;
}
.profile-card-1 .background {
   width: 100%;
   vertical-align: top;
   opacity: 0.9;
   -webkit-filter: blur(5px);
   filter: blur(5px);
   -webkit-transform: scale(1.8);
   transform: scale(2.8);
}
.profile-card-1 .card-content {
   width: 100%;
   padding: 15px 25px;
   position: absolute;
   left: 0;
   top: 50%;
}
.profile-card-1 .profile {
   border-radius: 50%;
   position: absolute;
   bottom: 50%;
   left: 50%;
   max-width: 100px;
   opacity: 1;
   box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
   border: 2px solid rgba(255, 255, 255, 1);
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
   margin: 0 0 5px;
   font-weight: 600;
   font-size: 25px;
}
.profile-card-1 h2 small {
   display: block;
   font-size: 15px;
   margin-top: 10px;
}
.profile-card-1 i {
   display: inline-block;
   font-size: 16px;
   color: #ffffff;
   text-align: center;
   border: 1px solid #fff;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 0 5px;
}
.profile-card-1 .icon-block {
   float: left;
   width: 100%;
   margin-top: 15px;
}
.profile-card-1 .icon-block a {
   text-decoration: none;
}
.profile-card-1 i:hover {
   background-color: #fff;
   color: #2e3434;
   text-decoration: none;
}

/*Profile card 2*/
.profile-card-2 .card-img-block {
   float: left;
   width: 100%;
   height: 150px;
   overflow: hidden;
}
.profile-card-2 .card-body {
   position: relative;
}
.profile-card-2 .profile {
   border-radius: 50%;
   position: absolute;
   top: -42px;
   left: 15%;
   max-width: 75px;
   border: 3px solid rgba(255, 255, 255, 1);
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);
}
.profile-card-2 h5 {
   font-weight: 600;
   color: #6ab04c;
}
.profile-card-2 .card-text {
   font-weight: 300;
   font-size: 15px;
}
.profile-card-2 .icon-block {
   float: left;
   width: 100%;
}
.profile-card-2 .icon-block a {
   text-decoration: none;
}
.profile-card-2 i {
   display: inline-block;
   font-size: 16px;
   color: #6ab04c;
   text-align: center;
   border: 1px solid #6ab04c;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 0 5px;
}
.profile-card-2 i:hover {
   background-color: #6ab04c;
   color: #fff;
}

/*Profile Card 3*/
.profile-card-3 {
   font-family: "Open Sans", Arial, sans-serif;
   position: relative;
   float: left;
   overflow: hidden;
   width: 100%;
   text-align: center;
   height: 368px;
   border: none;
}
.profile-card-3 .background-block {
   float: left;
   width: 100%;
   height: 200px;
   overflow: hidden;
}
.profile-card-3 .background-block .background {
   width: 100%;
   vertical-align: top;
   opacity: 0.9;
   -webkit-filter: blur(0.5px);
   filter: blur(0.5px);
   -webkit-transform: scale(1.8);
   transform: scale(2.8);
}
.profile-card-3 .card-content {
   width: 100%;
   padding: 15px 25px;
   color: #232323;
   float: left;
   background: #efefef;
   height: 50%;
   border-radius: 0 0 5px 5px;
   position: relative;
   z-index: 9999;
}
.profile-card-3 .card-content::before {
   content: "";
   background: #efefef;
   width: 120%;
   height: 100%;
   left: 11px;
   bottom: 51px;
   position: absolute;
   z-index: -1;
   transform: rotate(-13deg);
}
.profile-card-3 .profile {
   border-radius: 50%;
   position: absolute;
   bottom: 50%;
   left: 50%;
   max-width: 100px;
   opacity: 1;
   box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
   border: 2px solid rgba(255, 255, 255, 1);
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);
   z-index: 99999;
}
.profile-card-3 h2 {
   margin: 0 0 5px;
   font-weight: 600;
   font-size: 25px;
}
.profile-card-3 h2 small {
   display: block;
   font-size: 15px;
   margin-top: 10px;
}
.profile-card-3 i {
   display: inline-block;
   font-size: 16px;
   color: #232323;
   text-align: center;
   border: 1px solid #232323;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 0 5px;
}
.profile-card-3 .icon-block {
   float: left;
   width: 100%;
   margin-top: 15px;
}
.profile-card-3 .icon-block a {
   text-decoration: none;
}
.profile-card-3 i:hover {
   background-color: #232323;
   color: #fff;
   text-decoration: none;
}

/*Profile card 4*/
.profile-card-4 .card-img-block {
   float: left;
   width: 100%;
   height: 150px;
   overflow: hidden;
}
.profile-card-4 .card-body {
   position: relative;
}
.profile-card-4 .profile {
   border-radius: 50%;
   position: absolute;
   top: -62px;
   left: 50%;
   width: 100px;
   border: 3px solid rgba(255, 255, 255, 1);
   margin-left: -50px;
}
.profile-card-4 .card-img-block {
   position: relative;
}
.profile-card-4 .card-img-block > .info-box {
   position: absolute;
   background: rgba(217, 11, 225, 0.6);
   width: 100%;
   height: 100%;
   color: #fff;
   padding: 20px;
   text-align: center;
   font-size: 14px;
   -webkit-transition: 1s ease;
   transition: 1s ease;
   opacity: 0;
}
.profile-card-4 .card-img-block:hover > .info-box {
   opacity: 1;
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
}
.profile-card-4 h5 {
   font-weight: 600;
   color: #d90be1;
}
.profile-card-4 .card-text {
   font-weight: 300;
   font-size: 15px;
}
.profile-card-4 .icon-block {
   float: left;
   width: 100%;
}
.profile-card-4 .icon-block a {
   text-decoration: none;
}
.profile-card-4 i {
   display: inline-block;
   font-size: 16px;
   color: #d90be1;
   text-align: center;
   border: 1px solid #d90be1;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 0 5px;
}
.profile-card-4 i:hover {
   background-color: #d90be1;
   color: #fff;
}

/*Profile Card 5*/
.profile-card-5 {
   margin-top: 20px;
}
.profile-card-5 .btn {
   border-radius: 2px;
   text-transform: uppercase;
   font-size: 12px;
   padding: 7px 20px;
}
.profile-card-5 .card-img-block {
   width: 91%;
   margin: 0 auto;
   position: relative;
   top: -20px;
}
.profile-card-5 .card-img-block img {
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card-5 h5 {
   color: #4e5e30;
   font-weight: 600;
}
.profile-card-5 p {
   font-size: 14px;
   font-weight: 300;
}
.profile-card-5 .btn-primary {
   background-color: #4e5e30;
   border-color: #4e5e30;
}
.profile-facility{
    margin: 20px 0px;
}

.pnl2_para{
   text-align: justify;
}

.text-white-90{
   color: rgba(255,255,255,0.9);
}
.font-weight-500 {
   font-weight: 500;
}
.text-white-60 {
   color: rgba(255,255,255,0.6);
}
.footer-list02 {
   padding: 0;
   margin: 0;
   list-style: none;
}
.footer-list02 li:first-child {
   padding-top: 0;
}
.contact-map {
   height: 400px;
   width: 100%;
   vertical-align: top;
}
.contact-first{
   margin-top: 100px !important;
   background-image : url("../img/contact.png");
   background-repeat: no-repeat;
   /* background: url(../img/app.jpg) right bottom no-repeat, url(../img/app.jpg) left top repeat; */
   height: 500px;
}

input {
   overflow: hidden;
 }
 
 .section-title {
   position: relative;
   font-size: 30px;
   font-weight: 600;
   font-family: "Poppins", sans-serif;
   margin: 0 0 35px;
 }
 
 .sec-pad {
   padding: 60px 0 0;
   /* margin: 50px 0; */
 }
 
 .contact-sec {
   align-item: center;
   display: flex;
   background-color: #5cbde466;
 }
 
 .contact-sec .contact-ul li,
 .contact-ul b {
   font-size: 20px;
   margin: 10px 0;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   word-wrap: break-word;
 }
 
 .contact-sec .contact-ul i {
   font-size: 18px;
   padding: 10px;
   margin-right: 10px;
   border-radius: 50%;
 }
 .contact-detail a {
   color: #000;
   text-decoration: none;
 }
 
 .contact-sec .contact-ul li b:hover {
   color: #f93;
 }
 
 .contact-sec .contact-ul li .fa-location-dot {
   color: #f44337;
   border: 2px solid #f4433790;
 }
 
 .contact-sec .contact-ul li .fa-phone {
   color: #00b055;
   border: 2px solid #00b05590;
 }
 
 .contact-sec .contact-ul li .fa-envelope {
   color: #ff6347;
   border: 2px solid #ff634790;
 }
 
 .contact-detail span {
   width: 400px;
   display: flex;
   justify-content: center;
 }
 .contact-detail span a {
   font-size: 20px;
   padding: 6px 12px;
   color: #000;
   border-radius: 50%;
   margin: 0px 5px;
 }
 .contact-detail span .fb {
   color: #3b5998;
   border: 3px solid #3b5998;
 }
 .contact-detail span .fb:hover {
   color: #fff;
   background-color: #3b5998;
 }
 
 .contact-detail span .insta {
   color: #833ab4;
   border: 3px solid #833ab4;
 }
 .contact-detail span .insta:hover {
   color: #fff;
   background-color: #833ab4;
 }
 
 .contact-detail span .twitter {
   color: #00acee;
   border: 3px solid #00acee;
 }
 .contact-detail span .twitter:hover {
   color: #fff;
   background-color: #00acee;
 }
 
 form.contFrm {
   max-width: 396px;
   margin: auto;
 }
 
 .inptFld {
   width: 100%;
   height: 50px;
   border: 0;
   margin: 0 0 10px;
   border-radius: 8px;
   padding: 0 20px;
   font-size: 16px;
   color: #000;
 }
 
 .inptFld:focus {
   outline-offset: -4px;
   outline: 1px solid #f93;
 }
 
 .contFrm textarea {
   height: 75px;
   padding-top: 5px;
 }
 .inptBtn {
   height: 50px;
   border: 0;
   background: #00b055;
   font-size: 14px;
   color: #fff;
   margin: auto;
   letter-spacing: 1px;
   cursor: pointer;
   width: 100%;
   max-width: 200px;
 }
 
 /* Responcive css Start */
 
 @media (max-width: 991px) {
   .sec-pad {
     padding: 20px 0 0px;
   }
 
   .contact-sec .contact-ul li,
   .contact-ul b {
     font-size: 18px;
   }
 
   .contact-sec .contact-ul i {
     font-size: 14px;
     padding: 6px;
     margin-right: 6px;
   }
 
   .inptFld {
     height: 40px;
     margin: 0 0 10px;
     padding: 0 14px;
     font-size: 14px;
   }
 }
 
 @media (max-width: 767px) {
   .contact-detail span {
     width: auto;
   }
   .contact-detail span a {
     font-size: 18px;
     padding: 5px 10px;
     color: #000;
     border-radius: 50%;
     margin: 0px 5px 20px;
   }
 }
 
 @media (max-width: 575px) {
   .section-title {
     font-size: 26px;
     font-weight: 500;
   }
   .contact-sec {
     border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
   }
 
   .contact-sec .contact-ul i {
     border: none;
   }
   .inptFld {
     height: 36px;
     margin: 0 0 8px;
     padding: 0 14px;
     font-size: 14px;
   }
 }
 
 @media (max-width: 480px) {
   .contact-sec .contact-ul li,
   .contact-ul b {
     font-size: 16px;
   }
 }

 
.read-history{
font-size: 30px;
   line-height: 24px;
   margin-bottom: 20px;
   font-weight: 700;
   text-align: center !important;
   /* border-bottom: rgb(195, 209, 0) 5px solid;
   border-width: 5px;
   border-block-width: 7px; */
}
 